<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.applocum.fitzoh">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.Fitzoh">
        <activity android:name=".ui.calender.activities.ProgressDetailsActivty"></activity>
        <activity android:name=".ui.home.blog.activities.BlogListActivity" />
        <activity android:name=".ui.home.nutrition.activities.AddFoodItemActivity" />
        <activity android:name=".ui.profile.activities.EditProfileActivity" />
        <activity android:name=".ui.home.blog.activities.BlogActivity" />
        <activity android:name=".ui.home.livesession.activities.LiveSessionActivity" />
        <activity android:name=".ui.home.createcalender.activities.SelectCalenderActivity" />
        <activity android:name=".ui.home.wholestichealthandwellness.activities.SummaryActivity" />
        <activity android:name=".ui.home.wholestichealthandwellness.activities.NutritionistCounsellorsActivity" />
        <activity android:name=".ui.home.activities.HolisticHealthTransferActivity" />
        <activity android:name=".ui.home.fitzohvideolibrary.activities.EveryDayBllishActivity" />
        <activity android:name=".ui.home.fitzohvideolibrary.activities.FitzohVideoLibraryActivity" />
        <activity android:name=".ui.home.workout.activities.CheckWorkOutActivity" />
        <activity android:name=".ui.home.nutrition.activities.NutritionPlanActivity" />
        <activity android:name=".ui.home.fitnesstest.activities.TestDetailsActivity" />
        <activity android:name=".ui.home.fitnesstest.activities.ListOfTestActivity" />
        <activity android:name=".ui.home.counsellor.activities.CounsellorActivity" />
        <activity android:name=".ui.home.trainer.activities.AboutTrainerActivity" />
        <activity android:name=".ui.home.stregthsession.activities.StrengthSessionActivity" />
        <activity android:name=".ui.splashscreen.activities.SpalshScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.goal.activities.GoalSettingActivity" />
        <activity android:name=".VideoDetailsActivity" />
        <activity android:name=".FitnessPlanActivity" />
        <activity android:name=".ui.home.fitnesstest.activities.StartFitnessTestActivity" />
        <activity android:name=".ui.home.plan.activities.SelectPlanActivity" />
        <activity android:name=".ui.bottomnavigation.activities.HomeActivity" />
        <activity android:name=".ui.otpscreen.activities.OTPActivity" />
        <activity android:name=".ui.signin.activities.SignInActivity" />
        <activity android:name=".ui.signup.activities.SignUpActivity" />
        <activity android:name=".ui.mainscreen.activities.MainActivity" />
    </application>

</manifest>